    <md-list>
        {{#each model.notes as |note|}}
      <md-list-item class="chatrow">
          <div class="md-list-item-text">{{note.who}}: {{note.body}}</div>
      </md-list-item>
        {{/each}}
    </md-list>
