<div ng-controller="AppCtrl" ng-cloak>
  <md-content flex layout-padding>
    <md-list>
      <md-subheader class="md-no-sticky">config item</md-subheader>
        <span>&gt;&gt; {{model.name}} - {{model.version}}</span>

        {{#each model.channels as |chan|}}

        <div>
            {{#link-to 'channels' chan.id}}
            {{chan.name}}
            {{/link-to}}
        </div>

        {{/each}}

    </md-list>
  </md-content>
</div>
