{{#link-to 'configs' 'irc.freenode.net'}}
  {{#paper-button action="flatButton"}}Freenode{{/paper-button}}
{{/link-to}}
{{#link-to 'configs' 'irc.chat.twitch.tv'}}
  {{#paper-button action="flatButton"}}Twitch{{/paper-button}}
{{/link-to}}
